.why{
    width: 100%;
    padding: 50px;
    margin-top: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.why .why-class{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.why .why-class .why-class-left{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.why .why-class .why-class-left .why-class-left-header{
    display: none;
}
.why .why-class .why-class-left img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    background: #FAF9F6;
    box-shadow: 0 8px 16px #C9C9C9;
    border: 1px solid #C0C0C0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(3px);
    object-fit: cover;
}

.why .why-class .why-class-left img:hover{
    cursor: pointer;
    transform: translateY(5px);
    transition: 0.3s;
}

.why .why-class .why-class-right{
    display: flex;
    flex-direction:column;
    gap: 36px;
}
.why .why-class .why-class-right .why-class-right-header{
    text-align: center;
}
.why .why-class .why-class-right .why-class-right-item{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.why .why-class .why-class-right .why-class-right-item .why-class-item-left img{
    width: 30px;
    height: 30px;
}
.why .why-class .why-class-right .why-class-right-item .why-class-item-left img:hover{
    transform: rotate(360deg);
    transition: 0.3s ease;
    cursor: pointer;
    padding: 3px;
}
.why .why-class .why-class-right .why-class-right-item .why-class-item-right{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.why .why-class .why-class-right .why-class-right-item .why-class-item-right .why-class-item-right-bottom p{
    font-size: clamp(16px,18px,20px);
    line-height: 1.5em;
}

/*-----------Mobile Screen---------------*/
@media (max-width:1200px) and (min-width:50px) {
.why{
    padding:30px 15px;
    margin-top: 10px;
    gap: 12px;
}
.why .why-class{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.why .why-class .why-class-left{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.why .why-class .why-class-left .why-class-left-header{
    display: flex;
    text-align: center;
    align-self: center;
}
.why .why-class .why-class-left .why-class-left-header h1{
    font-size: clamp(18px,20px,24px);
}
.why .why-class .why-class-left img{
    width: 100%;
}
.why .why-class .why-class-right{
    gap: 12px;
}
.why .why-class .why-class-right .why-class-right-header{
    display: none;
}
.why .why-class .why-class-right .why-class-right-item{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.why .why-class .why-class-right .why-class-right-item .why-class-item-left{
    display: block;
}
.why .why-class .why-class-right .why-class-right-item .why-class-item-right{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.why .why-class .why-class-right .why-class-right-item .why-class-item-left img{
    width: 20px;
    height: 20px;
}
.why .why-class .why-class-right .why-class-right-item .why-class-item-right .why-class-item-right-top h3{
    font-size: clamp(16px,18px,20px);
    line-height: 1.4em;
}
.why .why-class .why-class-right .why-class-right-item .why-class-item-right .why-class-item-right-bottom p{
    font-size: clamp(14px,16px,18px);
    line-height: 1.5em;
}   
}


@media (max-width:1200px) and (min-width:901px) {
.why .why-class .why-class-left .why-class-left-header h1{
    font-size: clamp(20px,24px,28px);
}
.why{
    padding:50px 15px;
    margin-top: 25px;
}
.why .why-class .why-class-left{
    gap: 24px;
}
}