.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAF9F6;
    padding: 50px;
    gap: 24px;
    overflow: hidden;
}
.footer .footer-top{
    cursor: pointer;
}
.footer .footer-mid h6 a{
    text-decoration: none;
    color: #121212;
}
.footer .footer-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.footer .footer-bottom .footer-bottom-class img{
    width: 30px;
    height: 30px;
}
.footer .footer-bottom .footer-bottom-class img:hover{
    cursor: pointer;
    transform: translateY(5px);
    transition: 0.3s;
}

/*----------------Mobile Screen---------------*/
@media (max-width:500px) and (min-width:50px) {
.footer{
    padding:50px 15px;
    gap: 12px;
}
.footer .footer-top{
    cursor: pointer;
    text-align: center;
}
.footer .footer-mid h6{
    text-align: center;
}
.footer .footer-mid h6 a{
    text-decoration: none;
}
.footer .footer-bottom{
    gap: 12px;
}
.footer .footer-bottom .footer-bottom-class img{
    width: 25px;
    height: 25px;
}
}



@media (max-width:768px) and (min-width:501px) {
.footer{
    padding:50px 25px;
    gap: 12px;
}
.footer .footer-top{
    cursor: pointer;
    text-align: center;
}
.footer .footer-mid h6{
    text-align: center;
}
.footer .footer-mid h6 a{
    text-decoration: none;
}
.footer .footer-bottom{
    gap: 12px;
}
.footer .footer-bottom .footer-bottom-class img{
    width: 30px;
    height: 30px;
}
}

@media (max-width:1150px) and (min-width:769px) {
.footer{
    padding:50px 30px;
} 
}